h1,
h3,
  {
  font-family: $Raleway;
  text-align: left;
}

h4,
p {
  font-weight: $regular;
  text-align: left;
}

h1 {
  font-size: $xxxxx-large;
  font-weight: $bold;
}


h3 {
  font-size: $xxx-large;
}


h4 {
  font-size: $large;
}